*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1040px;
    margin: 0 auto;
}

ul, ol, li {
    list-style: none;
}

/*menu*/
.menu{
    align-items: center;
    margin: 20px auto 50px auto;
}

.menu img{
   width: 100px;
   margin: 0 50px 0 0;
   float: left;
}

.menu li{
    display: inline-block;
    margin: 40px 20px 15px;
}

.menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.menu li:first-of-type{
    margin-left: 300px;
}

.menu a:hover{
    color: rgb(18, 154, 196);
}

/*banner*/
.van{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding: 200px 0;
}

.si{
    width: 150px;
    margin-left: 50px;
}

.quadro:first-of-type{
    height: 400px;
    background-color: rgba(47, 90, 110, 0.884);
}

.content-1 img{
    margin: 20px ;
    width: 300px;
    float: left;
}

.content-2 p{
    padding-top: 140px;
    text-indent: 50px;
    font-size: 16px;
    color: rgb(207, 207, 207);
    text-align: justify;
    font-family: 'Playfair Display', serif;
}

.content-2 strong{
    font-size: 20px;
}

.conteudo{
    margin: 30px auto 30px 174px;
}

.conte{
    display: flex;
}

.conteudo h1{
    margin-bottom: 10px;
}

.conte img{
    width: 442px;
}

.conte figcaption{
    margin-top: 8px;
    text-align: center;
}

.conte figure{
    padding: 12px;
    background-color: rgba(47, 90, 110, 0.884);
}

.conte section{
    margin: 35px auto 2px 20px;
    text-align: justify;
}

.conte h4{
    font-size: 20px;
    margin: 60px auto 10px;
}

.conte section p{
    text-indent: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.aviso{
    height: 200px;
    margin: 0 auto 50px;
    padding: 30px 0 70px;
    background-color: rgb(53, 53, 53);
}

.aviso ul li{
    display: inline-block;
}

.aviso img:first-of-type{
    margin-left: 36px;
}

.aviso img{
    width: 200px;
    margin: auto 15px;
}

.aviso a{
    text-decoration: none;
}

.aviso figcaption{
    text-align: center;
    text-transform: uppercase;

    color: rgb(184, 180, 180);
    background-color: black;

    margin: auto 16px;
    padding: 10px 0;
}

.aviso figcaption:first-of-type{
    margin-left: 35px;
}

.aviso figcaption:hover{
    background-color: #4b4b4b;
    color: white;
}

/*rodapé*/
footer{
    color: rgb(219, 219, 219);
    margin-top: 50px;
    height: 320px;
    
    background-color: rgb(53, 53, 53);
}

footer a{
    color: rgb(219, 219, 219);
    text-decoration: none;
    font-size: 14px;
}

footer a:hover{
    color: rgb(18, 154, 196);
    text-decoration-line: underline;
}

.donate img{
    width: 170px;
    margin: 15px 0 0;
    
}

.cont-1{
    float: left;
    width: 450px;
    margin: 15px 0 10px 40px;
}

.cont-1-1{
    float: left;
}

.cont-1-1 h4{
    text-align: center;
}

.cont-1-2 h4{
    margin-bottom: 10px;
}

.cont-1-2{
    float: right;
    margin-left: 3px;
}

.cont-2 h4{
    margin-bottom: 10px;
}

.cont-2{
    float: right;
    width: 750px;
    margin: 15px 40px 10px 0;
}

.cont-2-1{
    float: left;
}

.cont-2-2{
    float: right;
    width: 400px;
    margin-right: 00px;
    font-size: 13px;
}

.cont-2-2 img{
    width: 25px;
    margin: 0 3px;
    padding: 5px;
}

.cont-2-2 img:hover{
    border-radius: 50px;
    background-color: rgb(18, 154, 196);;
}

.cont-2-2 li{
    display: inline;
}

.cont-2-2 h3{
    margin-top: 30px;
    font-size: 25px;
}

.cont-2-2 p{
    font-size: 15px;
}

.cont-2-2 input{
    padding: 2px;
}

.cont-2-2 input:first-of-type{
    margin: 7px;
}

.direitos{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(53, 53, 53);
    text-align: center;
    color: white;
    padding: 0 0 10px 0;
    font-size: 11.5px;
}