*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1040px;
    margin: 0 auto;
}

ul, ol, li {
    list-style: none;
}

/*menu*/
.menu{
    align-items: center;
    margin: 20px auto 50px auto;
}

.menu img{
   width: 100px;
   margin: 0 50px 0 0;
   float: left;
}

.menu li{
    display: inline-block;
    margin: 40px 20px 15px;
}

.menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.menu li:first-of-type{
    margin-left: 300px;
}

.menu a:hover{
    color: rgb(18, 154, 196);
}

/*conteudo*/
.painel{
    text-align: center;
    background-color: rgba(47, 90, 110, 0.884);
}

.painel ul li{
    display: inline-table;
    font-size: 16px;
    padding: 6px;
    margin: auto 10px;
}

.painel li li{
    display: list-item;
}

.painel a{
    text-decoration: none;
    color: black;
}

.painel li:hover{
    background-color: rgba(77, 121, 141, 0.884);
}

.painel a:hover{
    color: black;
}

.painel ul ul{
    display: none;
}

.van img{
    width: 282px;
    height: 350px;
}

.van{
    margin: 0 35px 10px 0;
    float: left;
}

.van h4{
    font-size: 20px;
    padding-bottom: 5px;
}

.van figcaption{
    text-align: center;
}

article p{
    text-align: justify; 
    text-indent: 30px;
    line-height: 20px;
}

.conteudo h2{
    font-size: 30px;
    margin: 10px 0;
}
.conteudo h2{
    margin: 20px auto 10px;
}

.vin{
    margin: 20px 0;
    float: right;
}

/*rodapé*/
footer{
    color: rgb(219, 219, 219);
    margin-top: 50px;
    height: 320px;
    
    background-color: rgb(53, 53, 53);
}

footer a{
    color: rgb(219, 219, 219);
    text-decoration: none;
    font-size: 14px;
}

footer a:hover{
    color: rgb(18, 154, 196);
    text-decoration-line: underline;
}

.donate img{
    width: 170px;
    margin: 15px 0 0;
    
}

.cont-1{
    float: left;
    width: 450px;
    margin: 15px 0 10px 40px;
}

.cont-1-1{
    float: left;
}

.cont-1-1 h4{
    text-align: center;
}

.cont-1-2 h4{
    margin-bottom: 10px;
}

.cont-1-2{
    float: right;
    margin-left: 3px;
}

.cont-2 h4{
    margin-bottom: 10px;
}

.cont-2{
    float: right;
    width: 750px;
    margin: 15px 40px 10px 0;
}

.cont-2-1{
    float: left;
}

.cont-2-2{
    float: right;
    width: 400px;
    margin-right: 00px;
    font-size: 13px;
}

.cont-2-2 img{
    width: 25px;
    margin: 0 3px;
    padding: 5px;
}

.cont-2-2 img:hover{
    border-radius: 50px;
    background-color: rgb(18, 154, 196);;
}

.cont-2-2 li{
    display: inline-block;
}

.cont-2-2 h3{
    margin-top: 30px;
    font-size: 25px;
}

.cont-2-2 p{
    font-size: 15px;
}

.cont-2-2 input{
    padding: 2px;
}

.cont-2-2 input:first-of-type{
    margin: 7px;
}

.direitos{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(53, 53, 53);
    text-align: center;
    color: white;
    padding: 0 0 10px 0;
    font-size: 11.5px;
}