*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1040px;
    margin: 0 auto;
}

header{
    position: relative;
    top: 0;
    right: 0;
}

header h1{
    padding: 30px 0;
    margin-left: 150px;
}

.menu ul li{
    font-size: 15px;
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase;
}

.menu{
    position: absolute;
    top: 44px;
    right: 70px;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu a:hover{
    background-color: cadetblue;
    color: aliceblue;
}

.banner img{
    margin-left: 180px;
    width: 1040px;
    height: 560px;
    margin-bottom: 50px;
}

.centro h1{
    text-align: center;
    margin-bottom: 40px;
}

.centro img{
    width: 300px;
    height: 200px;
}

.centro ul li{
    display: inline-flex;
    margin-top: 6px;
    margin-left: 44px;
}

.centro figcaption{
    text-align: center;
    font-size: 13px;
}

.centro img:hover{
    transition: 2s;
    transform:scale(1.5, 1.5);
}

footer{
    margin: 20px 0 5px;
    text-align: center;
}