*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1040px;
    margin: 0 auto;
}

header{
    position: relative;
    top: 0;
    right: 0;
}

header h1{
    padding: 30px 0;
    margin-left: 150px;
}

.menu ul li{
    font-size: 15px;
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase;
}

.menu{
    position: absolute;
    top: 44px;
    right: 70px;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu a:hover{
    background-color: cadetblue;
    color: aliceblue;
}

.van img{
    width: 282px;
    height: 350px;
}

.van{
    margin: 0 35px 10px 0;
    float: left;
}

.van h4{
    font-size: 20px;
    padding-bottom: 5px;
}

.van figcaption{
    text-align: center;
}

article p{
    text-align: justify; 
    text-indent: 30px;
    line-height: 20px;
}

.conteudo h2{
    font-size: 30px;
    margin: 10px 0;
}

.vin{
    margin: 20px 0;
    float: right;
}

footer{
    padding: 40px 0 5px 0;
    text-align: center
}